# ── MLflow remote (HF Space) ──────────────────────────────────────────────────
MLFLOW_TRACKING_URI      = https://HF_USERNAME-getaround-mlflow.hf.space
MLFLOW_TRACKING_USERNAME = HF_USERNAME
MLFLOW_TRACKING_PASSWORD = HF_TOKEN
MLFLOW_EXPERIMENT_NAME   = getaround-pricing

#  AWS S3 (artifact store MLflow) 
AWS_ACCESS_KEY_ID        = xxx
AWS_SECRET_ACCESS_KEY    = xxx
AWS_DEFAULT_REGION       = XXXX

# ── Secrets dans le Space HF MLflow 
# DATABASE_URL  = postgresql://user:pass@host/mlflow_db?sslmode=require
# ARTIFACT_ROOT = s3://cni-fraud-detection/getaround-mlflow/
